<!DOCTYPE html>
<html>
  <head>
    <title>Candidate Details Report</title>
    <style>
      table {
        width: 100%;
        border-collapse: collapse;
      }
      th,
      td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
      }
    </style>
  </head>
  <body>
    <p>Here is the overview of the candidate:</p>
    <table>
      <tr>
        <th>Candidate Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Resume</th>
        <th>Cover Letter</th>
      </tr>
      <tr>
        <td>{{.Name}}</td>
        <td>{{.Email}}</td>
        <td>{{.Phone}}</td>
        <td><a href="{{.Resume}}">View Resume</a></td>
        <td><a href="{{.Cover}}">View Cover Letter</a></td>
      </tr>
    </table>
  </body>
</html>
